.totalCharge{
    border: none;
    margin:10vh;
    display: flex;
    justify-content: space-evenly;
}
.showFair{
    border: 2px solid black;
    margin: 10px 10px;
    padding: 20px;
    width: 30vw; 
    border-radius: 5px;
}
.fare{
    display: flex;
    justify-content: space-between;
    margin-top:30px ;
}
.fare input{
    font-size: 15px;
    padding: 5px;
    width: 20vw;
    outline: none;
}
/*payment success __________________________________________________________ */
.payment{
   position:absolute;
   left: 40%;
   bottom: 50%;
}
.payment_sucess button{
    margin-left: 4.5vw;
    width: 10vw;
}
@media only screen and (max-width:600px) {
    .totalCharge{
        border: none;
        margin-top:20vh;
        display: flex;
        flex-direction: column;
    }
    .showFair {
        border: 2px solid black;
        margin: 10px -72px;
        padding: 20px;
        width: 82vw;
        border-radius: 5px;
    }
    .fare input{
        font-size: 15px;
        padding: 5px;
        width: 78vw;
        outline: none;
    }
 }